# Backend (i.e. Python) Dependencies:
# This file lists the necessary Python libraries for FastAPI and MongoDB integration.

fastapi # Framework for building APIs
uvicorn # Server to run FastAPI
motor # Async MongoDB driver for FastAPI
pydantic # For data validation and type checking
python-dotenv # To load environment variables from .env file

# for engage scraping
requests # For making HTTP requests
beautifulsoup4 # For parsing HTML content

# Additional dependencies for web scraping and data handling
selenium # For browser automation in scraping
pandas # For data manipulation and saving as CSV (if needed)
pymongo # MongoDB driver, used in scraping for direct database operations

APScheduler #schedule scraping within 1 day intervals

# OAuth2.0
google-auth # For Google OAuth2.0 authentication
google-auth-oauthlib # For OAuth2.0 flow with Google
python-jose

google-api-python-client
google-auth-httplib2 
google-auth-oauthlib